<style>

header{
	text-align: center;
}

#table1

 {


 	padding-left: 10%;
 	background-color: #64C6E9;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	text-align: center;
	width: 1100px;
}


#table2
 {
 	 	

 	margin-left: 30px;
 	background-color: gray;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-align: center;


}

#table2 tr th, td {
 		border-style: double;
 		border-color: black;
 		border-width: 2px;
 		margin-left: 10%;
 		width: 500px;
}

#table3 td {
	border-color: none;
}


</style>